header {
    background-color: #244751;
    color: #E8FDFF;
    height: auto;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    padding: 0px 20px;
}

body {
    background-color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter
}

main {
    background-color: white;
    padding:16px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 50%;
}

a.photo:hover{
    padding: 10px;
}

a.photo {
    transition: padding 0.5s;
}

.user-info h2, h3 {
    font-weight: 300;
}

.login-info > * {
    margin-left: 10px;
}

.login-info {
    display: flex;
    align-items: center;
}

.login-info img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.comments img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.comments {
    display: block;
    align-items: center;
}

.comments > * {
    margin: 5px 0px;
}

.container-top-like {
    width: 40px;
    height: 40px;
    display: flex;
    margin-left: 10px;
}

.top-like-image {
    width: 20px;
    height: 20px;
    border-radius: 15%;
    margin-left: 5px;
}